<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="webUrl" value="https://cowrysolutions.sharepoint.com/sites/Cowryexternal" />
    <add key="userName" value="admin@cowrysolutions.com" />
    <add key="password" value="Shivam@2012" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="PayFlowUser" value="dsinay" />
    <add key="PayFlowVendor" value="CowrySolutions" />
    <add key="PayFlowPartner" value="PayPal" />
    <add key="PayFlowPassword" value="C@lifornia2" />
    <add key="PayFlowHost" value="pilot-payflowpro.paypal.com" />
    <!--Sandbox-->
    <!--<add key="CrayonUsername" value="api@testcustomer.com" />
    <add key="CrayonPassword" value="ePLE8129087%" />
    <add key="CrayonClientId" value="33731c54-94b6-430b-872f-be0ca64f7bd5" />
    <add key="CrayonClientSecret" value="01e3ef62-5b54-4c4e-ba17-29e9992f4fb2" />-->
    <!--production-->
    <add key="CrayonUsername" value="nridpath@cowrysolutions.com" />
    <add key="CrayonPassword" value="mscsp060608" />
    <add key="CrayonClientId" value="c4322857-ad4f-4845-9277-0141794d2c7f" />
    <add key="CrayonClientSecret" value="37d95269-c99a-4719-8619-8fdf488fd006" />
    <add key="USCrayonUsername" value="mwolenik1@cowrysolutions.com" />
    <add key="USCrayonPassword" value="mscspt216524#" />
    <add key="USCrayonClientId" value="95110ab2-9675-428d-98ae-08ece4ee4191" />
    <add key="USCrayonClientSecret" value="c3592d3c-e066-42da-8057-420725d3f06d" />
  </appSettings>
  <connectionStrings>
    <add name="CRM" connectionString="AuthType=Certificate;Url=https://cowrysolutions.api.crm11.dynamics.com;thumbprint=705fed89b0f7f0dc4da26f7c68ac9170dd3d3b1b;AppId=f9beb19c-3df1-4e1c-bc70-763888839731;RequireNewInstance=false;SkipDiscovery=true" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.23.0.0" newVersion="2.23.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory.WindowsForms" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.23.0.0" newVersion="2.23.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
</configuration>